@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #dbd5d5;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
}
